<section id="servicios">
  <div class="tituloSecunIcon">
    <i class="fa-solid fa-ruler fa-4x"></i>
    <h2>Servicios</h2>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let serv of serviciosLimitados; let i = index"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              [attr.data-bs-slide-to]="i"
              [class.active]="i === 0"
              [attr.aria-label]="'Slide ' + (i + 1)">
      </button>
    </div>

    <div class="carousel-inner">
      <div *ngFor="let servicio of serviciosLimitados; let i = index"
           class="carousel-item"
           [class.active]="i === 0">
        <img [src]="'http://localhost:8083' + servicio.imagenURL"
             class="d-block w-100"
             alt="{{ servicio.name }}"
             height="512"
             width="512"
             onerror="this.src='assets/img/SinFoto.png'">

        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-75 rounded p-3">
          <h5>{{ servicio.name }}</h5>
          <p>{{ servicio.desciption }}</p>
          <p class="precio">${{ servicio.price | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>
