<div class="editar-container container py-4">
  <h2 class="mb-4 text-center">Editar Servicio</h2>

  <form #servicioFormActua="ngForm" (ngSubmit)="onSubmit(servicioFormActua)">
    <div class="row g-3">

      <!-- Nombre -->
      <div class="col-12 col-md-6">
        <label class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="servicio.name" name="nombre" required class="form-control" />
      </div>

      <!-- Precio -->
      <div class="col-12 col-md-6">
        <label class="form-label">Precio</label>
        <input type="number" [(ngModel)]="servicio.price" name="precio" required class="form-control" />
      </div>

      <!-- Descripción -->
      <div class="col-12">
        <label class="form-label">Descripción</label>
        <textarea [(ngModel)]="servicio.desciption" name="descripcion" required class="form-control"></textarea>
      </div>

      <!-- Estado -->
      <div class="col-12 col-md-6">
        <label class="form-label">Estado</label>
        <select [(ngModel)]="servicio.available" name="estado" class="form-select">
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>

      <!-- Categoría principal -->
      <div class="col-12 col-md-6">
        <label class="form-label">Categoría principal</label>
        <select class="form-select" [(ngModel)]="servicio.categoryID" name="categoriaId" required>
          <option [ngValue]="null" disabled>Seleccione una categoría principal</option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.nombre}}</option>
        </select>
      </div>

      </div>

      <!-- Imagen -->
      <div class="col-12 col-md-6">
        <label class="form-label">Imagen</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control mb-2" />
        <img [src]="'http://localhost:8083' + servicio.imagenURL" class="img-fluid rounded" alt="{{ servicio.name }}">
      </div>

    <!-- Botones -->
    <div class="mt-4 d-flex justify-content-center gap-3">
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
