<section id="reservas">
  <div class="tituloSecunIcon">
    <i class="fa-regular fa-hand-point-up fa-4x"></i>
    <h2>Reservas</h2>
  </div>

  <div class="row align-items-center justify-content-center">
    <img  ngSrc="assets/img/SinFoto.png" class="imgGrande col-6" alt="" height="512" width="512">
    <div class="card col-6">
      <h2 class="card-title">Reserva tu cita con el barbero y servicio a tu elección</h2>
      <div class="card-footer mx-auto">
        <button type="button" class="btn-primary p-4">Ver reservas actuales</button>
        <button type="button" class="btn-secondary p-4" >Agendar cita</button>
      </div>
    </div>
  </div>
</section>

