

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23c59d5f' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #c59d5f;
}

.navbar .navbar-toggler {
  margin-right: auto;
  margin-left: 0;
}



.navbar {
  background-color: #2a2a2a !important;
  border-top: 2px solid #c59d5f;
  border-bottom: 2px solid #c59d5f;
}
.nav-link dropdown-toggle{
  background-color: #f5f5f5 !important;
}

.navbar-nav .nav-link {
  color: #f5f5f5 !important;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #c59d5f !important;
  border-bottom: 2px solid #c59d5f;
}

.dropdown-menu {
  background-color: #2a2a2a;
  border: none;
}

.dropdown-item {
  color: #f5f5f5;
  font-family: "Lato", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #c59d5f;
  color: #1e1e1e;
}
