/* ====== NAVBAR ====== */
.navbar {
  background-color: #2a2a2a !important;
  border-top: 2px solid #c59d5f;
  border-bottom: 2px solid #c59d5f;
}
.nav-link dropdown-toggle{
  background-color: #f5f5f5 !important;
}

.navbar-nav .nav-link {
  color: #f5f5f5 !important;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #c59d5f !important;
  border-bottom: 2px solid #c59d5f;
}

.dropdown-menu {
  background-color: #2a2a2a;
  border: none;
}

.dropdown-item {
  color: #f5f5f5;
  font-family: "Lato", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #c59d5f;
  color: #1e1e1e;
}
