<section id="nueva-cita">
  <div class="tituloSecunIcon">
    <i class="fa-solid fa-hand-point-up fa-4x"></i>
    <h2>Tu reserva</h2>
  </div>

  <div class="row justify-content-center align-items-center contenido-cita">
    <!-- Imagen -->
    <div class="col-12 col-md-5 text-center mb-4 mb-md-0">
      <img
        ngSrc="../../../../assets/img/nuevaReserva.jpg"
        alt="Imagen cita"
        width="500"
        height="500"
        class="img-cita"
      />
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="onSubmit()" class="col-12 col-md-6 form-cita">
      <div class="mb-3">
        <label for="citaNombreUser" class="form-label">Tu nombre</label>
        <input
          type="text"
          class="form-control"
          id="citaNombreUser"
          [(ngModel)]="nombreCliente"
          name="nombreCliente"
          placeholder="Pepito Bigotes"
          readonly="readonly"
        />
      </div>

      <div class="mb-3" >
        <label for="selectBarbero" class="form-label">Barbero a elección</label>
        <select
          class="form-select"
          id="selectBarbero"
          [(ngModel)]="cita.barberId"
          name="barbero"
          required
          (change)="cargarHorarioBarbero($event)"
        >
          <option [ngValue]="null" disabled>Seleccione un barbero a preferencia</option>
          <option *ngFor="let b of barberos" [ngValue]="b.id">{{ b.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <h2>Días en que el barbero esta disponible</h2>
        <p>{{horarioBarbero.workDays}}</p>
      </div>

      <div class="row mb-4">
        <div class="col-6">
          <label for="fechaCita" class="form-label">Fecha de la cita</label>
          <input
            type="date"
            id="fechaCita"
            class="form-control"
            [(ngModel)]="cita.date"
            name="fechaCita"
            required
          />
        </div>
        <div class="col-6">
          <label for="horaCita" class="form-label">Servicios seleccionados </label>
          <input
            type="text"
            id="horaCita"
            class="form-control"
            [(ngModel)]="cita.startTime"
            name="horaCita"
            required
          />
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary px-4 py-2 m-2">
          Agendar cita
        </button>
        <button type="submit" class="btn btn-primary px-4 py-2">
          Eliminar cita
        </button>
      </div>
    </form>
  </div>
</section>
