<div class="tituloSecunIcon">
  <i class="fa-brands fa-black-tie fa-4x"></i>
  <h2>Gestión de la barbería</h2>
</div>

<div class="container text-center mt-4">

  <div class="tituloSecunIcon mb-4">
    <i class="fa-regular fa-bookmark fa-4x"></i>
    <h2>Categorías</h2>
  </div>

  <div class="row justify-content-center">

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Agregar categorías</h5>
          <p class="card-text">Agregue todas las categorías necesarias para gestionar los servicios de la barbería</p>
          <button class="btn btn-primary" routerLink="/category">Agregar categorías</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Ver categorías</h5>
          <p class="card-text">Liste todas las categorías existentes para poder actualizarlas o eliminarlas.</p>
          <button class="btn btn-secondary">Ver categorías</button>
        </div>
      </div>
    </div>

  </div>
  <div class="tituloSecunIcon mb-4">
    <i class="fa-solid fa-ruler fa-4x"></i>
    <h2>Servicios</h2>
  </div>


  <div class="row justify-content-center">

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Agregar Servicios</h5>
          <p class="card-text">Agregue todos los servicios que la barbería ofrecerá</p>
          <button class="btn btn-primary" routerLink="/admin/gestionarServicios">Agregar servicios</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Ver Servicios</h5>
          <p class="card-text">Liste todas los servicios existentes para poder actualizarlos o eliminarlos.</p>
          <button class="btn btn-secondary">Ver Servicios</button>
        </div>
      </div>
    </div>

  </div>

  <div class="tituloSecunIcon mb-4">
    <i class="fa-solid fa-person fa-4x"></i>
    <h2>Barberos</h2>
  </div>

  <div class="row justify-content-center">

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Agregar barberos</h5>
          <p class="card-text">Agregue el personal que estará involucrado con los servicios</p>
          <button class="btn btn-primary" type="button" routerLink="/admin/newBarbero" >Agregar barberos</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Ver barberos</h5>
          <p class="card-text">Liste todas los barberos existentes para poder actualizarlos o eliminarlos.</p>
          <button class="btn btn-secondary">Ver barberos</button>
        </div>
      </div>
    </div>
  </div>

  <div class="tituloSecunIcon mb-4">
    <i class="fa-solid fa-chart-column fa-4x"></i>
    <h2>Métricas de la barbería</h2>
  </div>

  <div class="row justify-content-center">

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Ver métricas generales</h5>
          <p class="card-text">Visualice el rendimiento que ha tenido la barbería en general</p>
          <button class="btn btn-primary">Ver métricas generales</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Ver métricas de barberos</h5>
          <p class="card-text">Visualice el rendimiento que ha tenido un barbero en particular </p>
          <button class="btn btn-secondary">Ver métricas por barbero</button>
        </div>
      </div>
    </div>
  </div>
</div>

