<i class="fa-solid fa-plus-circle fa-4x"></i>
<h2>Agregar Servicios</h2>
<p>Agregue nuevos servicios a la barbería</p>

<div class="card-content">
  <form #servicioForm="ngForm" (ngSubmit)="onSubmit(servicioForm)">
    <div class="mb-3">
      <label class="form-label">Nombre del servicio</label>
      <input type="text" class="form-control" placeholder="Ej: Corte clásico"
             [(ngModel)]="servicio.nombre" name="nombre" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Categoría principal</label>
      <select class="form-select" [(ngModel)]="servicio.categoriaId" name="categoriaId" required>
        <option [ngValue]="null" disabled>Seleccione una categoría principal</option>
        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}
        </option>
      </select>
    </div>


    <div class="mb-5 row">
      <div class="col-md-6">
        <label class="form-label">Subcategoría</label>

        <!-- SELECT de subcategorías existentes -->
        <select
          class="form-select"
          [(ngModel)]="servicio.subcategoriaId"
          name="subcategoriaId"
          (change)="onChangeSubcategoria()"
          *ngIf="!mostrarInput"
        >
          <option [ngValue]="null" disabled selected>Seleccione una subcategoría</option>
          <option *ngFor="let categoria of subcategorias" [ngValue]="categoria.id">{{ categoria.nombre }}
          <option value="nuevo">➕ Nueva subcategoría</option>
        </select>

        <!-- INPUT para nueva subcategoría -->
        <div *ngIf="mostrarInput" class="mt-2">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el nombre de la nueva subcategoría"
            [(ngModel)]="servicio.subcategoriaId"
            name="subcategoria"
          />
          <button type="button" class="btn btn-outline-secondary mt-2" (click)="cancelarNuevaSub()">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control" rows="3" placeholder="Describe el servicio..."
                [(ngModel)]="servicio.descripcion" name="descripcion" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" placeholder="Ej: 25000"
             [(ngModel)]="servicio.precio" name="precio" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Imagen del servicio</label>
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
        accept="image/*"
        name="imagen"
        required
      >
    </div>

    <!-- Vista previa opcional -->
    <div class="text-center mt-2" *ngIf="preview">
      <img [src]="preview" alt="Vista previa" class="img-thumbnail" width="200">
    </div>


    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="activo" checked>
      <label class="form-check-label" for="activo">'¿Servicio disponible?'</label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Servicio</button>
  </form>
</div>
