<div class="tituloSecunIcon">
<i class="fa-solid fa-plus-circle fa-4x"></i>
<h2>Agregar Servicios</h2>
<p>Agregue nuevos servicios a la barbería</p>
</div>

<div class="card-content">
  <form #servicioForm="ngForm" (ngSubmit)="onSubmit(servicioForm)" >
    <div class="mb-3">
      <label class="form-label">Nombre del servicio</label>
      <input type="text" class="form-control" placeholder="Ej: Corte clásico"
             [(ngModel)]="servicioRequest.name" name="nombre" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Categoría principal</label>
      <select class="form-select" [(ngModel)]="servicioRequest.category" name="categoriaId" required>
        <option [ngValue]="null" disabled>Seleccione una categoría principal</option>
        <option *ngFor="let categoria of categorias" [ngValue]="categoria.name">{{ categoria.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control" rows="3" placeholder="Describe el servicio..."
                [(ngModel)]="servicioRequest.description" name="descripcion" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" placeholder="Ej: 25000"
             [(ngModel)]="servicioRequest.price" name="precio" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Duración estimada(minutos)</label>
      <input type="number" class="form-control" placeholder="45 minutos mínimo"
             [(ngModel)]="servicioRequest.duration" name="duracion" required min="45">
    </div>

    <div class="mb-3">
      <label class="form-label">Imagen del servicio</label>
      <input
        type="file"
        class="form-control"
        (change)="onFileSelected($event)"
        accept="image/*"
        name="imagen"
        required
      >
    </div>

    <!-- Vista previa opcional -->
    <div class="text-center mt-2" *ngIf="preview">
      <img [src]="preview" alt="Vista previa" class="img-thumbnail" width="200">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!categoryDisponibility">Guardar Servicio</button>
    <div class="alert alert-danger m-2" *ngIf=!categoryDisponibility>
      <div>No se pueden guardar servicios hasta que se cree al menos una categoría</div>
      <button routerLink="admin/category" class="btn btn-primary">Crear categoría</button>
      </div>
  </form>
</div>
