.footer {
  background-color: #f5f5f5; /* tono madera oscuro */
  color: #1e1e1e; /* texto claro */
  padding: 20px 0;
  text-align: center;
  margin-top: 3rem;
  font-family: "Lato", sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #1e1e1e;;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #c59d5f; /* tono madera claro */
}
