/* ====== Navegación de categorías ====== */
.nav.justify-content-center {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.categoria{
  color: #c59d5f;
  font-size: 30px;
}
.nav-link {
  color: #f5f5f5 !important;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 10px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #c59d5f !important;
  border-bottom: 2px solid #c59d5f;
}

.tituloSecunIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 4px;
  color: #c59d5f;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion-card.active .card-content {
  animation: fadeInUp 0.4s ease;
}
